<!DOCTYPE html>
<html lang="en">

<head>
	<title>USDZ model viewer iOS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link type="text/css" rel="stylesheet" href="style.css">
  <style>
    #export {
      position: absolute;
      bottom: 20px;
      left: calc(50% - 115px);
      padding: 8px;
      background: white;
      border-radius: 8px;
      border: none;
      outline:none;
      color: black;
      cursor: pointer;
      text-align: center;
      width: 230px;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <!--  Works in iOS Safari!  -->
  <!--  Our easy models in 3D class goes into more detail as to how to view  -->
  <!--  models in iOS using the model viewer library   -->
  <!--  https://www.webxracademy.com/ar-models  -->
  <a id="export" download="avocado.usdz" rel="ar" href="https://cdn.glitch.me/b09d0ef2-cbb9-4685-be74-25b4dbc9e604/avocado.usdz?v=1639777725567">
    <img src="">
    View model (iOS)
  </a>
</body>

</html>