<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shadows</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link type="text/css" rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/three@0.133.0/build/three.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/three@0.133.0/examples/js/loaders/GLTFLoader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tweakpane@3.0.5/dist/tweakpane.min.js"></script>
</head>

<body>
	<script type="module">
    import { ARButton } from 'https://unpkg.com/three@0.133.0/examples/jsm/webxr/ARButton.js';
    
    // Steps to add shadows:
    // 1. setup the renderer to support shadows
    // 2. setup the relevant lights to cast shadows
    // 3. set whether a mesh or model should cast shadows
    // 4. set whether a mesh or model should receive shadows
    // optional: tweak settings on the light's shadow map
    // optional: setup a shadow helper
    
    let pane;
		let camera, scene, renderer;
		let loader;
    let spotLight;
    let spotLightHelper;
    let shadowCameraHelper;
    let plane;
    
    const PARAMS = {
        x: -1,
        y: 1.7,
        z: 3.4,
        intensity: 9,
        distance: 20,
        angle: 0.2
    };

    setupGui();
		init();
		animate();
    
    function setupGui() {
        pane = new Tweakpane.Pane();
        pane.containerElem_.style.zIndex = "10000";
        
        pane.addInput(
          PARAMS, 'x',
          {min: -5, max: 5, step: 0.1} 
        );
        pane.addInput(
          PARAMS, 'y',
          {min: -5, max: 5, step: 0.1}
        );
        pane.addInput(
          PARAMS, 'z',
          {min: -5, max: 5, step: 0.1}
        );
        pane.addInput(
          PARAMS, 'intensity',
          {min: 1, max: 20, step: 1}
        );
        pane.addInput(
          PARAMS, 'distance',
          {min: 1, max: 20, step: 0.1}
        );
        pane.addInput(
          PARAMS, 'angle',
          {min: 0, max: 90, step: 0.1} // angle cannot be more than Math.PI/2 = 90 degrees
        );
    }

		function init() {
			const container = document.createElement('div');
			document.body.appendChild(container);

			scene = new THREE.Scene();

			camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.01, 40);

			renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
			renderer.setPixelRatio(window.devicePixelRatio);
			renderer.setSize(window.innerWidth, window.innerHeight);
			renderer.xr.enabled = true; 
      renderer.shadowMap.enabled = true; // important for shadows!
      // more info on shadow types is here: https://threejs.org/docs/#api/en/constants/Renderer
      renderer.shadowMap.type = THREE.PCFSoftShadowMap; // want to use this one
			container.appendChild(renderer.domElement);

      // more light examples here: https://threejs.org/docs/?q=light
      
      // Hemisphere light is a light source positioned directly above the scene, with color fading from the sky color to the ground color.
			// HemisphereLight( skyColor : Integer, groundColor : Integer, intensity : Float )
      const light = new THREE.HemisphereLight(0xffffff, 0xbbbbff, 1);
			light.position.set(0.5, 1, 0.25);
			scene.add(light);
      
      // This light gets emitted from a single point in one direction, along a cone that increases in size the further from the light it gets.
      // SpotLight( color : Integer, intensity : Float, distance : Float, angle : Radians, penumbra : Float, decay : Float )
      // This light CAN cast shadows
      // this is a good example of how spotlights work: https://threejs.org/examples/?q=spotlight#webgl_lights_spotlight
      const color = new THREE.Color("rgb(255, 0, 0)");
      spotLight = new THREE.SpotLight(color, PARAMS.intensity, PARAMS.distance, PARAMS.angle);
      spotLight.position.set(PARAMS.x, PARAMS.y, PARAMS.z);
      scene.add(spotLight);

      // This spotlight helper helps to visualize the shape of the spotlight
      spotLightHelper = new THREE.SpotLightHelper(spotLight);
      scene.add(spotLightHelper);
      
      // shadows
      spotLight.castShadow = true; // important!
      // optional attributes you can specify for the shadow
      // spotLight.shadow.mapSize.width = 2048; // the higher the number the better resolution the shadow
      // spotLight.shadow.mapSize.height = 2048;

      // NOTE: if you are using a directional light you need to specify the following parameters
      // it's because directional lights don't have a strict position and are set infinitely away
      // directionalLight.shadow.camera.near = 0.1;
      // directionalLight.shadow.camera.far = 200;
      // directionalLight.shadow.camera.left = 500;
      // directionalLight.shadow.camera.right = -500;
      // directionalLight.shadow.camera.top = 500;
      // directionalLight.shadow.camera.bottom = -500;
      
      // optional add a shadow helper
      // shadowCameraHelper = new THREE.CameraHelper(spotLight.shadow.camera);
      // scene.add(shadowCameraHelper);
      
      loadModel();
      loadSphereMesh();

      addPlaneToSceneThatReceivesShadows();

      const button = ARButton.createButton(renderer, {
          requiredFeatures: ["hit-test", "dom-overlay"],
          // optionalFeatures: ["dom-overlay", "dom-overlay-for-handheld-ar"],
          domOverlay: {
            root: document.body
          }
      });
			document.body.appendChild(button);
      
      pane.on('change', (ev) => {
          const type = ev.presetKey; // what slider was changed
          const value = ev.value; // the number value on the slider
          
          switch(type) {
            case 'x':
              spotLight.position.x = value;
              break;
            case 'y':
              spotLight.position.y = value;
              break;
            case 'z':
              spotLight.position.z = value;
              break;
            case 'intensity':
              spotLight.intensity = value;
              break;
            case 'distance':
              spotLight.distance = value;
              break;
            case 'angle':
              console.log(THREE.MathUtils.degToRad(value));
              spotLight.angle = THREE.MathUtils.degToRad(value);
              break;
            default:
              break;
          }
      });

			window.addEventListener('resize', onWindowResize, false);
		}
    
    function loadSphereMesh() {
      const geometry = new THREE.IcosahedronGeometry(0.1, 1);
      const material = new THREE.MeshPhongMaterial({
        color      :  new THREE.Color("rgb(226,35,213)"),
        shininess  :  6,
      });
      
      const mesh = new THREE.Mesh(geometry, material);
      mesh.position.set(-0.3, 0, -0.5);
      mesh.receiveShadow = true;
      mesh.castShadow = true;
      scene.add(mesh);
    }
    
    async function loadModel() {
      const modelUrl = 'https://cdn.glitch.me/b09d0ef2-cbb9-4685-be74-25b4dbc9e604%2Favocado.glb?v=1636661024905';
      
			loader = new THREE.GLTFLoader();
      
      const gltf = await loader.loadAsync(modelUrl);
      scene.add(gltf.scene);
      console.log("Model added to scene");
      
      gltf.scene.scale.multiplyScalar(3);         
      // you can optionally change the position of the model
      gltf.scene.position.z = -0.5; // negative Z moves the model in the opposite direction the camera is facing
      gltf.scene.position.y = -0.1; // positive Y moves the model up
      
      // have model cast shadows
      gltf.scene.traverse((node) => {
        if (node.isMesh) { 
          node.castShadow = true;
          node.receiveShadow = true;
        }
      });
    }
    
    function addPlaneToSceneThatReceivesShadows() {
        const geometry = new THREE.PlaneGeometry(40, 40); 
        geometry.rotateX(-Math.PI / 2); // we rotate the geometry so it's parallel to the floor
        const material = new THREE.ShadowMaterial();
        material.opacity = 0.5;

        plane = new THREE.Mesh(geometry, material);
        plane.receiveShadow = true; // important for shadows!
        plane.visible = false; // start the plane as invisible
        plane.matrixAutoUpdate = false;
        scene.add(plane);
    }

		function onWindowResize() {
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();

			renderer.setSize(window.innerWidth, window.innerHeight);
		}

		function animate() {
			renderer.setAnimationLoop(render);
		}
    
    let hitTestSource = null;
    let localSpace = null;
    let hitTestSourceInitialized = false;
    let planeCreated = false;

    async function initializeHitTestSource() {
      const session = renderer.xr.getSession();

      const viewerSpace = await session.requestReferenceSpace("viewer");
      hitTestSource = await session.requestHitTestSource({ space: viewerSpace });

      localSpace = await session.requestReferenceSpace("local");

      hitTestSourceInitialized = true;

      session.addEventListener("end", () => {
        hitTestSourceInitialized = false;
        hitTestSource = null;
      });
    }
    
    function render(timestamp, frame) {
      spotLightHelper.update();
      // shadowCameraHelper.update(); // optional add a shadow helper
      
      if (frame) {
        if (!hitTestSourceInitialized) {
          initializeHitTestSource();
        }

        if (hitTestSourceInitialized) {
          const hitTestResults = frame.getHitTestResults(hitTestSource);

          if (hitTestResults.length > 0) {
            const hit = hitTestResults[0];

            const pose = hit.getPose(localSpace);

            plane.visible = true;
            if (!planeCreated) { // will only occur once
              plane.matrix.fromArray(pose.transform.matrix);
              planeCreated = true;
            }
          }
        }

        renderer.render(scene, camera);
      }
    }

	</script>
</body>

</html>